.container{
    background-color: #3F51B5;
    border-radius:50%;
    z-index: 1;
    box-shadow: 20px 20px 8px black;
}

#base{
    position: relative;
    height: 500px;
    width: 500px;
    top: 10em;
    margin: auto;
    background-color: rgb(20, 178, 199);
    z-index: 2;
    border-radius: 40px;
    box-shadow: 20px 20px 8px black;
}

#top{
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: rgb(177, 212, 19);
    z-index: 3;
    bottom: 285px;
    border-radius: 30px;
    box-shadow: 20px 20px 8px 0px black
}