* {
    box-shadow: border-box;
}
body{        
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #BCB8B1;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    padding: 10px 0;
    height:5%;
}
.fixed-header{
    top: 0;
    background: #463F3A;
    color: #fff;
}
.fixed-footer{
    bottom: 0;
    background: #e0afa0
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.container-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container-intro{
    font-family: 'Sacramento', cursive;
    text-shadow: -3px 1px 10px #9683ec;
}
.container-intro-text{
    font-family: 'Indie Flower', cursive;
    color: white;
    text-shadow: 5px 0px 12px black;
}
.container-intro,.container-intro-text{
    font-size: 80px;
}
nav a{
    color: #fff;
    padding: 7px 25px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}
nav a:hover{
    color: #9683ec;
    font-style: italic;
}
.container-nav-links{
    position: fixed;
    right: 20px;
    top: 20px;
}
.container-body-left{
    width: 55%;
}
.container-body-right{
    width: 45%;
    background: url(./imgs/img1.svg) no-repeat center;
}
.container-intro, .container-intro-text{
    margin: 80px;
}
.fixed-footer{
    color:black;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
}
.fa.fa-github:hover,.fa.fa-twitter:hover,.fa.fa-envelope:hover{
    color:#8a817c;
    transform: scale(.8);
}
.fixed-footer a{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    margin: 1em;
}

img{
    max-width: 100%;
    height: auto;
}